body {
    margin: 30px;
    font-family: sans-serif;
}

#fontSizeWrapper { font-size: 16px; }

#fontSize {
    width: 100px;
    font-size: 1em;
}

/* ————————————————————–
  Tree core styles
*/

.tree input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/
.tree li {
    line-height: 2.4;
    position: relative;
    padding: 0 0 1em 1em;
}

.tree ul li { padding: 1em 0 0 1em; }

.tree > li:last-child { padding-bottom: 0; }

/* ————————————————————–
  Tree labels
*/
.tree_label {
    position: relative;
    display: inline-block;
    background: #fff;
}

label.tree_label { cursor: pointer; }

label.tree_label:hover { color: #666; }

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
    background: #000;
    color: #fff;
    position: relative;
    z-index: 1;
    float: left;
    margin: 0.5em 1em 0 -2em;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    /*content: '+';*/
    text-align: center;
    line-height: .9em;
}

/*:checked ~ label.tree_label:before { content: '–'; }*/

/* ————————————————————–
  Tree branches
*/
.tree li:before {
    position: absolute;
    top: 1em;
    bottom: -1em;
    left: -.5em;
    display: block;
    width: 0;
    border-left: 1px solid #777;
    content: "";
}

.tree_label:after {
    position: absolute;
    top: 1em;
    left: -1.5em;
    display: block;
    height: 0.5em;
    width: 1em;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    content: '';
}

/*label.tree_label:after { border-bottom: 0; }*/

:checked ~ label.tree_label:after {
    border-top: 1px solid #777;
    border-bottom: 0;
    border-left: 0;
    bottom: 0;
    top: 1em;
    height: auto;
}

.tree li:last-child:before {
    height: 1em;
    bottom: auto;
}

.tree > li:last-child:before { display: none; }

.tree_custom {
    display: block;
    background: #eee;
    padding: 1em;
    border-radius: 0.3em;
}
li{
    list-style: none;
}
.tree_label span{
    border: 1px solid black;
    padding: 10px 20px;
    width: 200px;
}
.box{
    border: 1px solid black;
    padding-left: 20px;
    width: 200px;
    cursor: pointer;
}
.box:after{
    top: calc(1em - 1px) !important;
    left: calc(-1.5em - 1px) !important;
}
.first:after{
    content: none !important;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.left{
    width: 500px;
    height: calc(100vh - 220px);
    overflow: auto;
}
.left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.24);
    background-color: #F5F5F5;

}
.left::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.left::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}
.right{
    width: calc(100vw - 500px);
    text-align: center;
    padding-left: 20px;
}
.right img{
    max-height: calc(100vh - 270px);
    width: 100%;
    object-fit: contain;
    max-width: 100%;
}
#title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
}
video{
    max-height: calc(100vh - 270px);
    width: 100%;
    object-fit: contain;
    max-width: 100%;
}
.header{
    border: 1px solid;
    padding: 0 20px;
}
